.normal-input, .input-error, .search-input
{
  font-family: "Manrope", serif;
  outline: none;
  background: transparent;
  border-radius: .2rem;
  font-size: 1.3rem;
  width:100%;
  box-sizing: border-box;
}

.search-input
{
  border:none;
}

.normal-input
{
  border: .1rem solid #131010;
}

input::placeholder
{
  color: #131010;
}

.input-error
{
  
  border: .1rem solid #a13a3a;
}
