input
{
  font-family: "Manrope", serif;
  outline: none;
  background: transparent;
  border: .1rem solid #131010;
  border-radius: .2rem;
  font-size: 1.3rem;
  width:100%;
  box-sizing: border-box;
}

input::placeholder
{
  color: #131010;
}

.input-error
{
  border: .1rem solid #a13a3a;
}
