.auth-section
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container, .auth-container-login
{
  display: inline;
  background-color: #af9986;
  font-size: 1.3rem;
  border-radius: .3rem;
  padding: 1.5rem 6rem;
  
}

.auth-container
{
  margin-top: 1rem;
}



.auth-section h2
{
  font-size: 2.5rem;
}


.auth-section label
{
  
  display: block;
}

.label-login
{
  margin-top: 2rem;
}

.icon-container
{
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
  border-bottom: .1rem solid #131010;
  margin-bottom: 2rem;
}

.auth-container-login
{
  margin-top:5rem;
}

.error
{
  margin: 0;
  font-size: 1rem;
  color: #a13a3a;
}