.contact-section
{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}




.contact-container
{
  background-color: #af9986;
  width:20%;
  padding: 4rem 6rem;
}

textarea::placeholder
{
  color: #131010;
}

textarea
{
  resize: none;
  font-family: "Manrope", serif;
  outline: none;
  background: transparent;
  border: .1rem solid #131010;
  border-radius: .2rem;
  font-size: 1.3rem;
  margin-bottom: 1.4rem;
  width:100%;
  box-sizing: border-box;
}