@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: .3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #826f6f;
  border-radius: .5rem;
}



/* Handle */
::-webkit-scrollbar-thumb {
  background: #9fa4aa;
  border-radius: .5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ebe1e1;
  cursor: pointer;
}